<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>审查注册信息</title>
    <script type="text/javascript" src="js/company_authority.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/JQuery.js"></script>
<style>
    .page_change_container {
        text-align: center;
    }
    .page_change_container .page_change {
        text-decoration: underline;
        cursor: pointer;
    }
    .page_change_container .current_page {
        color: darkorange;
    }
</style>
</head>
<body>
<div class="content_container">

<div id="company_credit_info">
    <table style="width :100%;">
        <tbody>
        <tr>
            <td class="table_head">
                申请企业
            </td>
            <td class="table_head">
                电话
            </td>
            <td class="table_head">
                email
            </td>
            <td class="table_head">
                信用值
            </td>
        </tr>

        <tr v-for ="item in GuarantyCompanyInfo">
            <td>{{ item['name'] }}</td>
            <td>{{ item['telNum'] }}</td>
            <td>{{ item['emailAddress'] }}</td>
            <td>{{ item['credit']}}</td>
        </tr>
        </tbody>
    </table>
    <div class="page_change_container" v-if="max_page > 0">
        <label v-if="current_page > 0" class="page_change" v-on:click="repay_confirm_aimed_page(1)">首页</label>
        <label v-if="current_page > 1" class="page_change" v-on:click="repay_confirm_aimed_page(current_page - 1)">上一页</label>
        <label v-if="current_page > 2" class="page_change" v-on:click="repay_confirm_aimed_page(current_page - 2)">{{ current_page - 2 }}</label>
        <label v-if="current_page > 1" class="page_change" v-on:click="repay_confirm_aimed_page(current_page - 1)">{{ current_page - 1 }}</label>
        <label class="current_page" v-if="current_page > 0">{{ current_page }}</label>
        <label v-if="current_page < max_page" class="page_change" v-on:click="repay_confirm_aimed_page(current_page + 1)">{{ current_page + 1 }}</label>
        <label v-if="current_page + 1 < max_page" class="page_change" v-on:click="repay_confirm_aimed_page(current_page + 2)">{{ current_page + 2 }}</label>
        <label v-if="current_page < max_page" class="page_change" v-on:click="repay_confirm_aimed_page(current_page + 1)">下一页</label>
        <label v-if="current_page > 0" class="page_change" v-on:click="repay_confirm_aimed_page(max_page)">尾页</label>
    </div>
    <button v-on:click="click_listener()">开始</button>

</div>
    <script>
        new Vue({
            el: '#company_credit_info',
            data :{

                GuarantyCompanyInfo :[],
                current_page:1,
                max_page:0
            },
            methods:{
                getData: function (page) {
                    var result =' ';
                    //deal with parameter
                    $.ajax({
                        method: "GET" ,
                        url: "/api/Authorization/reviewInfo/getComoanyInfo",
                        async: false,
                        data:{
                            pages:page,
                        },

                        beforeSend: function (request) {
                            request.setRequestHeader("user_id_token", "12345");
                        },
                        success : function(data)
                        {

                            result=data;

                        }


                    });

                    return result;

                },
                repay_confirm_aimed_page:function(page)
                {
                    this.current_page=page;
                    result = this.getData(page);
                    this.GuarantyCompanyInfo = result;
                },
                get_max_page:function()
                {
                    var result =' ';
                    //deal with parameter
                    $.ajax({
                        method: "GET" ,
                        url: "/api/Authorization/reviewInfo/getComoanyInfo/maxpage",
                        async: false,

                        beforeSend: function (request) {
                            request.setRequestHeader("user_id_token", "12345");
                        },
                        success : function(data)
                        {
                            result=data;

                        }

                    });

                    return result;

                },
                click_listener: function () {
                    result = this.getData(this.current_page);
                    this.max_page=this.get_max_page()['maxpages'];
                    this.GuarantyCompanyInfo= result;
                },


            }
        })
    </script>

</div>

</body>
</html>