<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="js/JQuery.js"></script>
        <script type="text/javascript" src="js/login_in_authority.js"></script>
        <script src="js/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="css/login/login-in.css">
    </head>
    <body>
        <img class="logo" src="pics/logo.png"/>
        <ul class="right-button-container">
            <li>
                <a href="introduction.html" class="navigation-button">
                    <span>首页</span>
                </a>
            </li>
        </ul>

        <div id="login-in-form" class="login-form">
            <div class="info_container">
                <h1 class="form_title">平台登陆</h1>
                <p class="error_info" v-if="error_info">{{ error_info }}</p>
            </div>
            <ul>
                <li class="write_in">
                    <label class="icon" style="background: url('pics/icon-username.png')"></label>
                    <input placeholder="username" v-model="bindData.username"/>
                </li>
                <li class="write_in">
                    <label class="icon" style="background: url('pics/icon-password.png')"></label>
                    <input placeholder="password" v-model="bindData.password" type="password"/>
                </li>
                <!-- <li class="write_in" v-for="(item, i) in urlandplaceholder">
                </li> -->
                <li class="type_choice">
                    <label>
                        <input type="radio" name="account_type" value="bank" v-model="bindData.account_type"/>
                        银行
                    </label>
                    <label>
                        <input type="radio" name="account_type" value="authority" v-model="bindData.account_type"/>
                        机构
                    </label>
                </li>
            </ul>
            <div class="choice_action">
                <label class="remember_me">
                    <input type="checkbox" v-model="bindData.remember"/>
                    记住我
                </label>
                <a class="forget-password" href="">忘记密码?&nbsp;</a>
            </div>
            <button id="submit-login-in" v-on:click="submitLogIn">登&nbsp;陆</button>
            <!--a><button>登&nbsp;陆</button></a-->
        </div>

        <script>
            var loginInComponents = new Vue({
                el: "#login-in-form",
                data: {
                    bindData: {
                        'username': '',
                        'password': '',
                        'account_type': '',
                        'remember': false,
                    },
                    error_info: '',
                },
                methods: {
                    submitLogIn:function() {
                        var query_string = '?userName=' + this.bindData.username + "&password=" + this.bindData.password;
                        var result = null;
                        $.ajax({
                            'url': '/api/user/bankOrAuthority/token' + query_string,
                            'type': 'PUT',
                            'async':false,
                            'headers': {
                                'user_id_token': '',
                            },
                            'success': function (data) {
                                result = data;
                            }
                        });
                        if (!isEmptyValue(result)) {
                            if (!isEmptyValue(result.message)) {
                                if (result.message == 'ok') {
                                    setCookie('user_id_token', result.token, 7);
                                    switch (this.bindData.account_type) {
                                        case 'bank':
                                            window.location.href = 'bank.html';
                                            break;
                                        case 'authority':
                                            window.location.href = 'authority.html';
                                            break;
                                    }
                                } else {
                                    this.error_info = result.message;
                                }
                            }
                        }
                    }
                },
                computed: {
                    username() {
                        return this.bindData.username;
                    },
                    password() {
                        return this.bindData.password;
                    }
                },
                watch: {
                }
            });
        </script>
    </body>
</html>